/* src/assets/global.css */
:root {
    --primary-black: rgb(15, 15, 15);
    --secondary-black:  rgb(26, 25, 25);;
    --primary-white: white;
    --secondary-white: rgb(73, 73, 73);
    --primary-blue: rgb(0, 102, 255);
    --transparent-blue: rgba(0, 0, 0, 0.65); /* 65% dark overlay for strong contrast */
    --font-family: 'Poppins', sans-serif;
}